Package: neter
Version: 1.4.0-2016.08.24
Section: BioInfoServ
Priority: optional
Depends:
Suggests:
Architecture: all
Installed-Size: 4096
Maintainer: gatieme
Provides: bioinfoserv-arb
Description: Network support for shell.
